<h1><%= t(:settings) %></h1>

<%= form_for(current_user) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email, disabled: true %>

  <h2><%= t(:change_password) %></h2>
  <%= f.label :current_password %>
  <%= f.password_field :current_password %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <h2><%= t(:update_contact_information) %></h2>

  <% User.properties_keys.each do |key| %>
    <%= f.label key %>
    <%= f.text_field key %>
  <% end %>

  <%= f.submit %>
<% end %>
