<% title current_user.name %>
<% noindex %>

<% unless current_user.orders.none? %>
  <h1><%= t(:active_sell_order) %></h1>

  <table class="hover">
    <thead>
      <tr>
        <th><%= t("activerecord.attributes.item.name") %></th>
        <th><%= t("activerecord.attributes.order.price") %></th>
        <th><%= t("activerecord.attributes.order.quality") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% current_user.orders.each do |order| %>
        <tr>
          <td><%= link_to(order.item.name, [order.item, order]) %></td>
          <td><%= order.price %>kr</td>
          <td class="quality"><%= stars(order.quality) %></td>
          <td><%= button_to('', [order.item, order], method: :delete, class: 'remove') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h1><%= t(:update_contact_information) %></h1>

<%= standard_form_for(current_user) do |f| %>
  <%= f.text_field :email, value: current_user.email %>
  <%= f.text_field :name %>
  <%= f.phone_field :phone %>
  <%= f.submit %>
<% end %>
