<% title current_user.to_s %>

<% unless current_user.buying_orders.empty? %>
  <h1><%= t(:active_buy_order, count: current_user.buying_orders.count) %></h1>

  <table class="hover" data-sort>
    <thead>
      <tr>
        <th><%= t("activerecord.attributes.item.name") %></th>
        <th data-sort><%= t("activerecord.attributes.order.price") %></th>
        <th data-sort><%= t("activerecord.attributes.order.quality") %></th>
        <th><%= t(:seller) %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% current_user.buying_orders.each do |order| %>
        <%= user_order_row(order, order.user, :cancel) %>
      <% end %>
    </tbody>
  </table>
<% end %>

<% unless current_user.orders.empty? %>
  <h1><%= t(:active_sell_order, count: current_user.orders.count) %></h1>

  <table class="hover">
    <thead>
      <tr>
        <th><%= t("activerecord.attributes.item.name") %></th>
        <th data-sort><%= t("activerecord.attributes.order.price") %></th>
        <th data-sort><%= t("activerecord.attributes.order.quality") %></th>
        <th><%= t(:buyer) %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% current_user.orders.each do |order| %>
        <%= user_order_row(order, order.buyer) %>
      <% end %>
    </tbody>
  </table>
<% end %>

<h1><%= t(:settings) %></h1>

<%= standard_form_for(current_user) do |f| %>
  <%= f.text_field :email, disabled: true, value: email_with_verification(f.object) %>

  <h2><%= t(:change_password) %></h2>
  <%= f.password_field :current_password %>
  <%= f.password_field :password %>

  <h2><%= t(:update_contact_information) %></h2>
  <%= f.text_field :name %>
  <%= f.phone_field :phone %>

  <%= f.submit %>
<% end %>
