<h1><%= title(t(:sign_in)) %></h1>

<div>
  <%= form_for(@user, url: user_path, html: { class: 'form' }, method: :post) do |f| %>
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
    <%= f.label :login %>
    <%= f.text_field :login %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit(class: 'button') %>
  <% end %>
</div>
<div>
  <p>
    <% if @sign_in_unsuccessful %>
      <%= button_to(t(:send_confirmation_email, email: @user.email), reset_user_path(login: @user.login)) %>
    <% else %>
      <%= t(:first_time_login_info) %>
    <% end %>
  </p>
</div>
