<h1><%= title(t(:sign_in)) %></h1>

<div>
  <%= standard_form_for(@user, url: user_path, method: :post) do |f| %>
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
    <%= f.text_field :login %>
    <%= f.password_field :password %>
    <%= f.submit %>
  <% end %>
</div>
<div>
  <% if @sign_in_unsuccessful %>
    <%= button_to(t(:send_confirmation_email, email: @user.email), reset_user_path(login: @user.login), class: 'reset') %>
  <% else %>
    <p><%= t(:first_time_login_info) %></p>
  <% end %>
</div>
