<h1><%= @order.user %> has your copy of <%= @order.item.name %></h1>

<p>Please contact him/her immediately.</p>

<h2><%= t(:contact_information) %></h2>

<table>
  <tbody>
    <tr>
      <td><%= t(:email) %>:</td>
      <td><%= @order.user.email %></td>
    </tr>
    <% user_properties(@order.user) do |key, value| %>
      <tr>
        <td><%= key %>:</td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
