<h1><%= t(:has_your_copy, user: @order.user, item: @order.item.name) %></h1>

<p><%= night? ? t(:contact_next_morning) : t(:contact_immediately) %></p>

<h2><%= t(:contact_information) %></h2>

<table>
  <tbody>
    <tr>
      <td><%= t(:email) %>:</td>
      <td><%= @order.user.email %></td>
    </tr>
    <% user_properties(@order.user) do |key, value| %>
      <tr>
        <td><%= key %>:</td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
