<%= search_bar(title @order.item.name) %>
<% noindex %>

<%= render @order.item %>

<section>
  <h2><%= t(:contact_information) %></h2>

  <div class="hero">
    <span class="price"><%= @order.price %></span>kr<br>
    <span class="stars"><%= stars(@order.quality) %></span>
  </div>

  <table class="contact-information">
    <% contact_information_with_keys(@order.user) do |key, value| %>
      <tr>
        <td><%= key %>:</td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </table>
</section>

<% if other_items(@order).any? %>
  <div class="related">
    <h3><%= t(:other_items, name: @order.user.name) %></h3>

    <table class="hover">
      <thead>
        <tr>
          <th><%= t("activerecord.attributes.item.name") %></th>
          <th><%= t("activerecord.attributes.order.price") %></th>
          <th><%= t("activerecord.attributes.order.quality") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% other_items(@order).each do |order| %>
          <tr>
            <td><%= link_to(order.item.name, [order.item, order]) %></td>
            <td><%= order.price %>kr</td>
            <td class="quality"><%= stars(order.quality) %></td>
            <td><%= link_to('', [order.item, order], class: 'arrow') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
