<%= search_bar %>

<section>
  <div class="hero">
    <span class="price"><%= @order.price %></span>kr<br>
    <span class="stars"><%= stars(@order.quality) %></span>
  </div>

  <table class="properties">
    <% item_properties(@order.item) do |key, value| %>
      <tr>
        <td><%= key %>:</td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </table>
</section>

<section>
  <h2><%= t(:contact_information) %></h2>

  <table class="contact-information">
    <% contact_information_with_keys(@order.user) do |key, value| %>
      <tr>
        <td><%= key %>:</td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </table>

  <div class="qr">
    <%= qr(@order.user, @order.item, 140) %>
  </div>
</section>

<% if other_items(@order).any? %>
  <div class="related">
    <h3><%= t(:other_items, name: @order.user.to_s) %></h3>

    <table class="hover">
      <thead>
        <tr>
          <th><%= t("activerecord.attributes.item.name") %></th>
          <th><%= t("activerecord.attributes.order.price") %></th>
          <th><%= t("activerecord.attributes.order.quality") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% other_items(@order).each do |order| %>
          <%= order_row(order) %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
