<%= standard_form_for(@item) do |f| %>
  <%= f.text_field :name %>

  <%= f.text_field :author_list %>
  <%= f.text_field :course_list %>
  <%= f.text_field :tag_list %>

  <% unless @order.nil? %>
    <h2><%= t(:your_sell_order) %></h2>

    <%= f.fields_for(:orders, @order) do |o| %>
      <%= o.price %>
      <%= o.text_field :edition %>
      <%= o.quality %>
    <% end %>
  <% end %>

  <%= f.submit %>
<% end %>
