<!-- <h3 class="slogan"><%= t(:slogan) %></h3> -->

<%= render 'search' %>

<section>
  <div class="sell">
    <h2><%= t(:sell) %></h2>
    <ul>
      <li><%= link_to(t(:sell_info_sign_up), sign_in_user_path) %></li>
      <% t(:sell_info).each do |info| %>
        <li><%= info %></li>
      <% end %>
    </ul>
  </div>
  <div class="buy">
    <h2><%= t(:buy) %></h2>
    <ul>
      <% t(:buy_info).each do |info| %>
        <li><%= info %></li>
      <% end %>
    </ul>
  </div>
</section>
