<h1>New item</h1>

<%= standard_form_for(@item) do |f| %>
  <%= f.text_field :name %>

  <% Item::PROPERTIES_KEYS.each do |key| %>
    <%= f.text_field key %>
  <% end %>

  <h2><%= t(:your_sell_order) %></h2>

  <%= f.fields_for(:orders, @order) do |o| %>
    <%= o.price %>
    <%= o.quality %>
  <% end %>

  <%= f.submit %>
<% end %>
