<%= search_bar %>

<% @items.each do |item| %>
  <%= link_to(item, class: 'result') do %>
    <h2><%= item_name(item) %></h2>
    <%= render item %>
  <% end %>
<% end %>

<footer>
  <%= t(:no_hit) %>
  <%= link_to(t(:add_item), new_item_path) %>
</footer>
