<%= search_bar %>

<% @items.each do |item| %>
  <%= link_to(item, class: 'result') do %>
    <h2><%= item.name %></h2>
    <table class="properties">
      <% item_properties(item) do |key, value| %>
        <tr>
          <td><%= key %>:</td>
          <td><%= value %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>

<footer>
  <%= t(:no_hit) %>
  <%= link_to(t(:add_item), new_item_path) %>
</footer>
