<%= render 'search' %>

<% @items.each do |item| %>
  <%= link_to(item, class: 'result') do %>
    <h2><%= item.name %></h2>
    <span><%= item.courses %></span> -
    <span><%= item.authors %></span>
  <% end %>
<% end %>
