<%= search_bar(title @item.name) %>
<% item_keywords(@item) %>

<%= render @item %>

<section>
  <div class="list">
    <% if @item.orders(true).any? %>
      <table class="hover">
        <thead>
          <tr>
            <th><%= t("activerecord.attributes.order.price") %></th>
            <th><%= t("activerecord.attributes.order.quality") %></th>
            <th><%= t("activerecord.attributes.order.edition") %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @item.orders.each do |order| %>
            <tr>
              <td><%= order.price %>kr</td>
              <td class="quality"><%= stars(order.quality) %></td>
              <td><%= order.edition %></td>
              <td><%= link_to('', [@item, order], class: 'arrow') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= t(:no_one_is_selling, name: @item.name) %>
    <% end %>
  </div>

  <div class="new-order">
    <% if signed_in? %>
      <%= standard_form_for([@item, @order]) do |f| %>
        <fieldset>
          <legend><%= t(:place_sell_order) %></legend>
          <%= f.price %>
          <%= f.text_field :edition %>
          <%= f.quality %>
          <%= f.submit %>
        </fieldset>
      <% end %>
    <% else %>
      <%= link_to t(:must_be_signed_in_to_sell, item: @item.name), sign_in_user_path %>
    <% end %>
  </div>
</section>
