<%= render 'search' %>

<div class="clearfix">
  <div class="price">
    <span><%= @item.cheapest %></span>
  </div>

  <div class="properties">
    <table>
      <tbody>
        <% properties(@item) do |key, value| %>
          <tr>
            <td><%= key %>:</td>
            <td><%= value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="clearfix">
  <div class="orders">
    <% if @item.orders.empty? %>
      No one is selling this item.
    <% else %>
      <table data-sort>
        <thead>
          <tr>
            <th data-sort><%= t "activerecord.attributes.order.price" %></th>
            <th data-sort data-sort-desc><%= t "activerecord.attributes.order.quality" %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @item.orders %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="new-order">
    <% if signed_in? %>
      <%= form_for([@item, @order]) do |f| %>
        <fieldset>
          <legend>New sellorder</legend>
          <%= f.label :price %>
          <%= telephone_field(:order, :price) %>
          <%= f.label :quality %>
          <div class="quality">
            <%= f.radio_button(:quality, "5") %>
            <%= f.label(:quality_5, "&#9733;".html_safe) %>
            <%= f.radio_button(:quality, "4") %>
            <%= f.label(:quality_4, "&#9733;".html_safe) %>
            <%= f.radio_button(:quality, "3", checked: true) %>
            <%= f.label(:quality_3, "&#9733;".html_safe) %>
            <%= f.radio_button(:quality, "2") %>
            <%= f.label(:quality_2, "&#9733;".html_safe) %>
            <%= f.radio_button(:quality, "1") %>
            <%= f.label(:quality_1, "&#9733;".html_safe) %>
          </div>
          <%= f.submit %>
        </fieldset>
      <% end %>
    <% else %>
      <%= link_to "You need to be signed in to sell or buy #{@item.name}", sign_in_user_path %>
    <% end %>
  </div>
</div>
