<h1><%= title 'Om oss' %></h1>
<% keywords %w{alexander ekdahl joacim åström bokhyllan kontakt} %>

<div>
  <p>Bokhyllan.lu är ett goodwillprojekt som sattes igång 2013, då det inte fanns någon enkel lösning för lundensare att sälja sin gamla kurslitteratur. Tjänsten är helt gratis, och dess enda syfte är att göra livet och ekonomin lite enklare för studenter, således tar vi ingen avgift för att sälja böcker och inga transaktioner går genom hemsidan.</p>

  <p>Projektet drivs enbart utav vårat intresse och vi letar ständigt efter nya sätt att förbättra sidan och sprida den till en större allmänhet. Hemsidan får flera användare för varje dag som går, just nu ligger <%= Order.count %> böcker uppe för försäljning.</p>

  <p>Tjänsten har gjorts möjlig med hjälp utav <a href="https://www.algolia.com">Algolia</a> och deras sökmotor, men också alla sektioner på LTH och privatpersoner som hjälp till att sprida hemsidan. Källkoden finns öppen för alla på <a href="https://github.com/AlexanderEkdahl/bokhyllan.lu">GitHub</a>.</p>

  <p>Vi hoppas du är nöjd med hemsidan och sprider den vidare till folk du känner! Vill du veta mer eller har idéer på förbättringar så kan du kontakta oss privat eller <a href="<%= NavigationHelper::HIPCHAT %>">klicka här</a> för att chatta med oss direkt.</p>
</div>

<p>Med vänliga hälsningar,</p>

<p><%= mail_to('dat12sek@student.lu.se', 'Alexander Ekdahl') %> och <%= mail_to('atp10jas@student.lu.se', 'Joacim Åström') %></p>
