<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= display_meta_tags(site: 'Bokhyllan.lu', separator: '&middot;'.html_safe, reverse: true, keywords: t(:default_tags), description: t(:default_description)) %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <header>
      <%= link_to(root_path) do %>
        <%= image_tag('logo.png', size: '60') %>
        <h1>Bokhyllan.lu</h1>
      <% end %>
      <nav>
        <%= nav(home, sign_in, user, sign_out) %>
      </nav>
    </header>

    <div class="flash">
      <% flash.each do |k, v| %>
        <span class="<%= k %>"><%= v %></span>
      <% end %>
    </div>

    <main class="<%= params[:controller] %> <%= params[:action] %>">
      <%= yield %>
    </main>

    <footer>
      <%= nav(edit, about, support) %>
    </footer>

    <%= javascript_include_tag 'application' %>
    <%= javascript_tag render('script.js') %>
  </body>
</html>
