<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(site: 'Bokhyllan.lu', separator: '&middot;'.html_safe, reverse: true, keywords: Metatags::DEFAULT) %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <nav>
      <%= nav(home, sign_in, user, sign_out) %>
    </nav>

    <div class="flash">
      <% flash.each do |k, v| %>
        <span class="<%= k %>"><%= v %></span>
      <% end %>
    </div>

    <div class="main <%= "#{params[:controller]} #{params[:action]}" %>">
      <%= yield %>
    </div>
  </body>
</html>
