<!DOCTYPE html>
<html>
  <head>
    <title>Bokhyllan.lu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <nav>
      <%= nav(home, sign_in, user, sign_out) %>
    </nav>

    <div class="flash">
      <% flash.each do |k, v| %>
        <span class="<%= k %>"><%= v %></span>
      <% end %>
    </div>

    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
